<!DOCTYPE html>
{% extends 'dashboard/base.html' %}


{% block content %}

  <br><br>
    <div class="jumbotron">
      <div class="row">
              <div class="col-xs-6">
      <h1>Configure Settings</h1><br><br>
        <form method="post" class="post-form" action="/dashboard/add_new_config.html">{% csrf_token %}
            {{ formset.as_p }}
          <table>

            <tr><th><label for="id_AdjacencyList">AdjacencyList:</label></th><td><input type="text" name="AdjacencyList" value="asd" maxlength="100" id="id_AdjacencyList" required /></td></tr>
            <tr><th><label for="id_GA_SOLUTION_FILE">GA_SOLUTION_FILE:</label></th><td><ul class="errorlist"></ul><input type="text" name="GA_SOLUTION_FILE" maxlength="100" id="id_GA_SOLUTION_FILE" required /></td></tr>
            <tr><th><label for="id_CHROMOSOME_FILE">CHROMOSOME_FILE:</label></th><td><ul class="errorlist"></ul><input type="text" name="CHROMOSOME_FILE" maxlength="100" id="id_CHROMOSOME_FILE" required /></td></tr>
            <tr><th><label for="id_METRIC_OUTPUT">METRIC_OUTPUT:</label></th><td><ul class="errorlist"></ul><input type="text" name="METRIC_OUTPUT" maxlength="100" id="id_METRIC_OUTPUT" required /></td></tr>
            <tr><th><label for="id_GENOTYPE_SIZE">GENOTYPE_SIZE:</label></th><td><ul class="errorlist"></ul><input type="number" name="GENOTYPE_SIZE" id="id_GENOTYPE_SIZE" required /></td></tr>
            <tr><th><label for="id_STEP_SIZE">STEP_SIZE:</label></th><td><ul class="errorlist"></ul><input type="number" name="STEP_SIZE" id="id_STEP_SIZE" required /></td></tr>
            <tr><th><label for="id_PURGE_DELAY">PURGE_DELAY:</label></th><td><ul class="errorlist"></ul><input type="number" name="PURGE_DELAY" id="id_PURGE_DELAY" required /></td></tr>
            <tr><th><label for="id_SAMPLE_RATE">SAMPLE_RATE:</label></th><td><ul class="errorlist"></ul><input type="number" name="SAMPLE_RATE" id="id_SAMPLE_RATE" required /></td></tr>

          </table>
            <br><div style="padding-left:300px;"><button type="submit" class="save btn btn-default">Save</button></div>
        </form>
      </div>

        <div class="col-xs-6" style="padding-left:100px;text-align:center;">

          <h1 style="padding-left:500px;line-height:500px">GRAPHS GO HERE</h1>

      </div>
    </div>
{% endblock %}
